%% -*- erlang -*-
{so_name, "sext.so"}.
{src_dirs, ["examples"]}.
{port_source, ["c_src/*.c"]}.
{port_env, [ {"CFLAGS", "$CFLAGS -O3"} ]}.
{erl_opts, [debug_info]}.

{profiles, [{docs,
            [{deps, [{edown, ".*", {git, "https://github.com/basho/edown.git", {tag, "0.8.1"}}}]},

                    {edoc_opts, [{doclet, edown_doclet},
                                 {src_path, ["src/", "examples/"]},
                                 {packages,
                                  false},
                                 {subpackages,
                                  true},
                                 {top_level_readme,
                                  {"./README.md",
                                   "http://github.com/basho/sext"}}]}]}
           ]}.
